.main {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 50px;
}
.employeeOfTheMonth {
	text-align: center;
}
.employeeOfTheMonth img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
